<nav>
        <h3>Weather application</h3>

        <div>
            <a id="nav-home-btn" href="/">Home</a>
            <a id="nav-weather-btn" href="/weather">weather</a>
            <a id="nav-about-btn" href="/about">about</a>
        </div>
    </nav>
